/* this is for the slide show */

/* align the arror so it;s in the mid */
.slideshow-container {
  position: relative;
}

/* prevent slides from being too big if not write dimension :D */
.slideshow {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 1s ease;
}

.slide {
  flex: 0 0 100%;
  height: 400px;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  cursor: pointer;
  font-family: 'Material Symbols Outlined';
  font-size: 50px;
  color: black;
  padding: 10px;
}

/* kinda redundant */
.arrow.left {
  margin-right: auto;
}

.arrow.right {
  margin-left: auto;
}