.weather-container-wrapper {
    display: flex;
    justify-content: center;
    /* Center the containers horizontally */
}

.weather-forecast {
    width: 1250x;
    /* Set total width for all containers */
    display: flex;
    justify-content: space-between;
    /* Distribute space evenly between containers */
}

.weather-container {
    width: calc(1250px / 5 - 20px - 40px);
    /* Calculate width for each container with margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}


.weather-date {
    font-weight: bold;
}

.weather-icon {
    width: 50px;
    /* Adjust icon size as needed */
    height: 50px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}